<div class="d-flex justify-content-center">
	<div class="card" style="width: 25rem;">
		<h4 class="card-header text-center"><%= @event.title %></h4>
		<div class="card-body">
			<h5 class="card-title"></h5>
			<h6 class="card-title">Le <%= @event.start_date.strftime("%d/%m/%Y") %></h6>
			<h6 class="card-title">À <%= @event.location %></h6>
			<p class="card-text"><%= @event.description %></p>
			<h6 class="card-title">Tarif : <%= @event.price %> €</h6>
			<p class="card-text">Durée : <%= @event.duration %> minutes</p>
			<p class="card-text">Organisé par <%= @event.host.first_name %></p>
		</div>
	</div>
</div>